<!doctype html>
<html>
    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
        <meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">        
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">        
        <link href="/static/css/doc.min.css" rel="stylesheet">        
        {{template "head" .}}

    </head>

    <body>
        <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
            
            <a href="../" class="navbar-brand">Transfer</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                
            </ul>
            </nav>
        </div>
        </header>
        <!-- Docs page layout -->
        <div class="bs-docs-header" id="content" tabindex="-1">
            <div class="container">
                <h1>GoPax to Binance</h1>
                <p>김프 모니터링 및 고팍스와 바이낸스의 코인 거래 처리 프로그램</p>
            </div>
        </div>
        <div class="container bs-docs-container">
            <div class="row">
                {{template "content" .}}
            </div>
        </div>

        <!-- Footer
        ================================================== -->
        <footer class="bs-docs-footer" role="contentinfo">
        <div class="container">
            <div>
                <strong>Copyright</strong> Arques Company &copy; 2021
            </div>
        </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>        
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/doc.min.js"></script>

        {{template "javascript" .}}
    </body>
    
</html>